In python, we have several types of values:

* strings (words, letters, characters)
* numbers (integer or floating point)
* booleans (True or False)

# Numbers

integers and floating point numbers

In [3]:
3

3

In [5]:
1976

1976

In [6]:
42.5

42.5

In [7]:
-7

-7

In [8]:
- 13

-13

In [9]:
-0

0

## Math

just use mathematical symbols

In [10]:
1 + 2  + 3 + 4

10

In [11]:
4 - 1 - 2

1

In [12]:
6 * 1000

6000

In [13]:
13 / 4

3.25

Older versions of Python - when using / with integers, they give you an integer result

13 / 4 == 3

In [15]:
2**10

1024

In [16]:
pow(2, 10)

1024

There are two types of numbers: int and float (integer and floating point)

Floating point - we use decimals,  but imprecisely

In [17]:
0.9 * 10 * 99

891.0

In [19]:
0.9 * 99 * 10

891.0000000000001

In [20]:
0.9 * 99

89.10000000000001

In [21]:
0.9 * 10 * 99 == 0.9 * 99 * 10

False

### Other math operators

/ is division
// integer division (no remainder)
% is modulus (remainder)

In [22]:
13 / 4

3.25

In [23]:
13 // 4

3

In [24]:
13 % 4

1

In [25]:
21.0 // 4.5

4.0

In [26]:
21.0 / 4.5

4.666666666666667

In [29]:
21.0 % 4.5

3.0

## Strings

Strings are pieces of text, like names, titles

Sequences of *characters*
Anything you can read, write, and some other stuff too

Quotes go around strings: single '' or double "" quotes

\ indicates an escape sequence

In [30]:

print("㰦")

㰦

In [31]:
'23.5'

'23.5'

In [32]:
'23.500000'

'23.500000'

In [33]:
'23.5' + 4

TypeError: Can't convert 'int' object to str implicitly

In [34]:
"James's"

"James's"

In [35]:
'He said, "hi"'

'He said, "hi"'

In [36]:
"\u3C26"

'㰦'

In [38]:
print("hello\tgoodbye")

hello	goodbye

In [39]:
print("goodbye\thello")

goodbye	hello

In [40]:
print("hello\ngoodbye")

hello
goodbye

In [42]:
print("He said, \"Hi, it\'s nice to meet you.\"")

He said, "Hi, it's nice to meet you."

### Concatenation

Putting multiple strings together into one string

In [43]:
"hello" "world"

'helloworld'

In [44]:
"hello" + "world"

'helloworld'

In [45]:
"23.5" + "4.5"

'23.54.5'

In [46]:
"23.5" + 4.5

TypeError: Can't convert 'float' object to str implicitly

In [48]:
("Once upon a time there was a fairy princess. "
 "She was the ruler of the land of Oo. "
 "One day she declared bankruptcy. The end.")

'Once upon a time there was a fairy princess. She was the ruler of the land of Oo. One day she declared bankruptcy. The end.'

In [49]:
("This " # why hello there
 "is a string with a comment.")

'This is a string with a comment.'

In [62]:
print("Put a backslash in a string with \\ two backslashes")

Put a backslash in a string with \ two backslashes

## Really long strings

Triple quotes: ''' """

In [51]:
print("""Four score and seven years ago our fathers brought forth on this continent, a new nation, conceived in Liberty, and dedicated to the proposition that all men are created equal.

Now we are engaged in a great civil war, testing whether that nation, or any nation so conceived and so dedicated, can long endure. We are met on a great battle-field of that war. We have come to dedicate a portion of that field, as a final resting place for those who here gave their lives that that nation might live. It is altogether fitting and proper that we should do this.

But, in a larger sense, we can not dedicate -- we can not consecrate -- we can not hallow -- this ground. The brave men, living and dead, who struggled here, have consecrated it, far above our poor power to add or detract. The world will little note, nor long remember what we say here, but it can never forget what they did here. It is for us the living, rather, to be dedicated here to the unfinished work which they who fought here have thus far so nobly advanced. It is rather for us to be here dedicated to the great task remaining before us -- that from these honored dead we take increased devotion to that cause for which they gave the last full measure of devotion -- that we here highly resolve that these dead shall not have died in vain -- that this nation, under God, shall have a new birth of freedom -- and that government of the people, by the people, for the people, shall not perish from the earth.
""")

Four score and seven years ago our fathers brought forth on this continent, a new nation, conceived in Liberty, and dedicated to the proposition that all men are created equal.

Now we are engaged in a great civil war, testing whether that nation, or any nation so conceived and so dedicated, can long endure. We are met on a great battle-field of that war. We have come to dedicate a portion of that field, as a final resting place for those who here gave their lives that that nation might live. It is altogether fitting and proper that we should do this.

But, in a larger sense, we can not dedicate -- we can not consecrate -- we can not hallow -- this ground. The brave men, living and dead, who struggled here, have consecrated it, far above our poor power to add or detract. The world will little note, nor long remember what we say here, but it can never forget what they did here. It is for us the living, rather, to be dedicated here to the unfinished work which they who fought here have thus far so nobly advanced. It is rather for us to be here dedicated to the great task remaining before us -- that from these honored dead we take increased devotion to that cause for which they gave the last full measure of devotion -- that we here highly resolve that these dead shall not have died in vain -- that this nation, under God, shall have a new birth of freedom -- and that government of the people, by the people, for the people, shall not perish from the earth.

Can you use triple quotes on a single line?

In [52]:
"""That's a good question."""

"That's a good question."

## Booleans

Represent either True or False
Atoms of information on a computer

In [53]:
1 < 2

True

In [54]:
1 > 2

False

In [55]:
17 >= 17

True

In [56]:
3 <= -4

False

In [57]:
"hello" == "hello"

True

In [58]:
'hello' == "hello"

True

In [59]:
"apple" == "apples"

False

In [60]:
"George's" == 'George\'s'

True

In [63]:
"apples,oranges" == "oranges,apples"

False

In [64]:
"apple" != "orange"

True

In [65]:
42 == 42

True

In [66]:
"42" == 42

False

In [67]:
1 < 2

True

In [68]:
not 1 < 2

False

## Converting between types

There are basic functions for converting, based on the name of the type we're converting to

* Converting is helpful when we have one numeric type and want a different numeric type
* Or when we have a string and want a number
* Or when we have a number and want a string

In [69]:
int("42")

42

In [70]:
int("42") == 42

True

In [71]:
int("42.5")

ValueError: invalid literal for int() with base 10: '42.5'

In [72]:
float("42.5")

42.5

In [73]:
int(float("42.5"))

42

In [75]:
int(42.7)

42

In [76]:
age = 31

In [77]:
print(age)

31

In [78]:
print("I am " + age + " years old")

TypeError: Can't convert 'int' object to str implicitly

In [79]:
print("I am " + str(age) + " years old")

I am 31 years old

In [80]:
float(13) / 4

3.25

### Automatic conversion with math

Some mathematical ops automatically convert

In [81]:
13 / 4

3.25

In [82]:
1 + 2

3

In [83]:
1 + 2.0

3.0

In [84]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

## Setting up for projects

1. Create your folder
1. `cd` into it
1. `echo layout python3 >> .envrc`
1. `direnv allow`
1. `pip install ipython[all]` (if you want ipython)

To open up the notebook:

`ipython notebook`